numpy==1.26.4
torch==2.1.2
pandas
h5py
tqdm
colorama
scikit-learn
torchmetrics
matplotlib
seaborn
imbalanced-learn
pydantic
lightgbm
xgboost

git+https://github.com/lingxusb/megaDNA@main

transformers==4.42.3